.game-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer-section {
  display: flex;
  justify-content: space-around;
  height: 200px;
  width: 1000px;
  align-items: center;

  .faciee {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    animation-duration: 1s;
    animation-name: slidein;
  }

  @keyframes slidein {
    0% {
      margin-left: 100%;
    }

    70% {
      margin-left: -15%;
    }

    100% {
      margin-left: 0;
    }
  }
  p {
    width: 300px;
    cursor: pointer;
    font-weight: 700;
    color: white;
    font-size: 18px;
  }

  img {
    cursor: pointer;
    height: 70px;
  }
  @media (max-width: 1100px) {
    flex-direction: column;
    height: fit-content;
    width: fit-content;
    .faciee {
      flex-direction: column;
      text-align: center;
      width: 100vw;
      animation: none;
      p {
        font-size: 15px;
      }
    }
  }
}
